/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}



/* ==========================================================================
   Author's custom styles
   ========================================================================== */



html body {width:100%; background-color: rgb(255, 248, 245); height:100%; min-height: 100%; margin: 0;}
main{width:100%; margin:auto; height:100%;}
.half-width{margin-top:4%; width:45%; text-align:center; }
ul{list-style:none; padding:0; }

.bold{font-weight:800;}
a{text-decoration:none; color:black;}
a:hover{cursor:pointer; color:LightBlue; }

header{width:85%; overflow:auto; margin:auto;}
#header-bar{width:100%;
		height:60px; 
	}
#header-bar img {height:60px; margin-left:2vh; margin-top:0;}
#herowrapper{ max-width:1052px; background-repeat: no-repeat; 
	margin:auto; 
	height:85.5vh;
	background-position:center top;
	background-size:cover;
	border-radius:2px; 
	background:none;
	}
img#hero{width:100%; margin:auto; display:none;}

.main-wrapper {border-radius: 2px;  margin:auto;margin-bottom:1vh; padding-bottom:1px;}
#border{height: 2.6vh;width:68%; border-bottom: 1.5px solid; margin:auto;}
.main-wrapper #border {width:68%;}

#rika-text { width: 85%; max-width:1052px;margin:auto; padding-top:1.5vh; margin-top:0.5%; }
#rika-text p {margin:auto;line-height:35px;  width: 97%; margin-left:3px;}


/*MAIN PAGE PHOTOS*/
.grid-container {margin-top:3%; margin-bottom:2%; display:grid;   grid-template-columns: repeat(7, 1fr); justify-items:center;
	grid-auto-rows:  12.5vh;grid-gap:2vh;

	grid-template-areas: ". garm1 garm1 garm2 coat1 coat1 ."
			      ". garm1 garm1 coat2 coat1 coat1 ."
				". fabric2 fabric2 coat2 coat1 coat1 ."
				". coat3 bag2 bag2 fabric1 shoes2 ."
				". coat3 bag2 bag2 shoes1 shoes1 ."
				". bag1 bag3 bag4 shoes1 shoes1 .";


				 }
.grid-image-container {overflow:hidden; background-color: white; width:100%;  border-radius:1.5px;}
.grid-image { cursor:pointer;  padding:4px; background-position: center top; background-size:cover; background-repeat:no-repeat;}

.grid-image:hover{opacity: 0.7;}


#felt-coat-1{display:grid; grid-area:coat1; }
#felt-coat-2{display:grid;  grid-area: coat2;}
#felt-coat-3{display:grid; grid-area: coat3;}
#felt-bag-1{display:grid; grid-area: bag1;  }
#felt-bag-2{display:grid; grid-area: bag2; }
#felt-bag-3{display:grid; grid-area: bag3; }
#felt-bag-4{display:grid; grid-area: bag4;}
#felt-shoes-1{display:grid; grid-area: shoes1;}
#felt-shoes-2{display:grid;  grid-area: shoes2;}
#felt-garment-1{display:grid; grid-area: garm1;}
#felt-garment-2{display:grid; grid-area: garm2;}
#felt-fabric-1{display:grid; grid-area: fabric1;}
#felt-fabric-2{display:grid; grid-area: fabric2;}

#coat-1-image{ background-image: url(../img/IMG_0073.jpg);}
#coat-2-image{background-image: url(../img/IMG_0316.jpg);}
#coat-3-image{background-image: url(../img/IMG_0345b.jpg); background-position-x: 65%;}
#bag-1-image{background-image: url(../img/IMG_0266.jpg);background-position-y: 65%;}
#bag-2-image{background-image: url(../img/IMG_0271.jpg);background-position-y: 65%;}
#bag-3-image{background-image: url(../img/IMG_0268.jpg);background-position-y: 65%;}
#bag-4-image{background-image: url(../img/IMG_0275.jpg);background-position-y: 65%;}
#shoes-1-image{background-image: url(../img/IMG_0350.jpg);background-position-y: 35%;}
#shoes-2-image{background-image: url(../img/IMG_7115.jpg);background-position-y: 35%;}
#garment-1-image{background-image: url(../img/IMG_1813.jpg); }
#garment-2-image{background-image: url(../img/IMG_0284.jpg);background-position-y: 35%; }
#fabric-1-image{background-image: url(../img/IMG_0278.jpg);background-position-y: 30%;}
#fabric-2-image{background-image: url(../img/IMG_3040.jpg);}


/*NAV ELEMENT*/
nav{float:right; width:75%; margin-right:0px; padding:0px; }
nav li{ font-size:16px; display:inline-block; text-align:right; padding-right:2vw}
nav ul {margin:2vh; display:flex; flex-flow:row wrap;justify-content:flex-end; margin-top: 30px; }
header h1{float:left; margin:0;display:inline;}
 

.flex-wrapper1{ width:85%; padding-left:6%;margin:auto; margin-top: 2%; margin-bottom: 2%; display:flex; flex-flow: row wrap; justify-content:center;}
.flex-wrapper2{ width:85%; margin:auto; margin-top: 2%;  display:flex; flex-flow: row wrap; justify-content:center;}
#contact-image{ width:75%; padding:auto; margin-right: 8%; max-width: 340px; min-width:100px;border:1px solid; border-radius:1.5px;margin-left:5vw;}
#contact{margin-top:4%;margin-bottom:4%; display:flex; align-items:center;}

/*FOOTER*/
footer{overflow:hidden;background-image: url(../img/footer.png);background-position: right top; background-size: cover; padding-top: 4vw; margin-top: 3vh; width:100%; height: auto; min-height: 8vh; color:white; font-size:16px;}
footer ul li {display:block; margin:auto;align-text:center;}
footer ul {margin:8px;}
ul{text-align:center;}
#to-top{float:left; padding-left: 1%; position:relative; bottom:30px;}
#rika-logo-footer{max-height: 35px;}
#footer-div {background-color: rgb(141, 166, 174); margin-left:auto;margin-right:auto; margin-top: 2vh; padding-top: 10px; margin-bottom:5px; }
#share-button{float:right; margin-right:2%; position:relative; top:160px;}

/*SHEEP LIFE PAGE*/
#article {cursor: pointer; width:85%; border: 1px solid; border-radius: 4px; display:block; margin:auto; margin-top: 3vh; }
#article-zoom{cursor: pointer;}
#kakudai {text-align:right;}
.flex-image {
  display:block; margin:1vw;  border-radius:1.5px; width:90%; height:90%; }
.imagewrapper {width:33%; display:flex; justify-content:center; margin: 2vh 0 2vh 0;}
/*.flex-image:hover {cursor:pointer;transform:scale(1.4); transition: 0.3s;}*/
#header-border{height: 2.6vh;width:68%; border-bottom: 1.5px solid; margin:auto; margin-top:2vh;}



/*MODAL POPUP*/
.modal-popup {
	
    position: fixed; 
    z-index: 999;
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7); 
}

.modal-content {
	transition: 0.3s;
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
	height:60vh;
 overflow:hidden;
background-position: center center; background-size:contain; background-repeat:no-repeat;
}
.active {display: block;}
.closed {display:none;}

.modal-button{color: #aaa;
        font-size: 65px;
    font-weight: 900; cursor:pointer;}
#close-button  {   
position:absolute;
top:4vh;
left:78vw;
}

#arrow-grid {display:flex; flex-flow:row; justify-content:center; align-items:center; } 
#left-arrow{ margin-left:auto;}
#right-arrow{margin-right:auto; }

#left-arrow, #right-arrow {transform: scale(0.6, 1); display:inline;}


.modal-button:hover,
.modal-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/*LOADING PROGRESS SVG*/

#loading-bar{
width:30vw;
margin:auto;
position:relative;
top: 38vh;
right:1.5vw;
}

.pen1 {
  fill: none;
  stroke:url(#linearGradient5123);
  stroke-linecap: round;
  clip-path: url(#loadingBarpt1);
stroke-width:2;
  stroke-dasharray: 150;
  stroke-dashoffset: 150;
  animation-duration: 2s;
  animation-name: draw;
  animation-iteration-count: 1;
  animation-direction: forward;
  animation-timing-function: cubic-bezier(.49,.02,.51,1);
animation-fill-mode: forwards;
}

.pen2{ fill: none;
  stroke:url(#linearGradient5123);
  stroke-linecap: round;
  clip-path: url(#loadingBarpt2);
	stroke-width:2;
  stroke-dasharray: 150;
  stroke-dashoffset: 150;
  animation-duration: 2s;
animation-delay: 1.52s;
  animation-name: draw;
  animation-iteration-count: 1;
  animation-direction: forward;
  animation-timing-function: cubic-bezier(.49,.02,.51,1);
animation-fill-mode: forwards;
}


@keyframes draw {
  0% {
    stroke-dashoffset: 150;
	stroke-opacity:1;
	
  }



 100% {
    stroke-dashoffset: 0;
stroke-opacity:1;
  }
}



/*MEDIA QUERIES*/

@media (max-width:769px) {
header{width:98%;}
#header-bar img {height:45px; margin-left:0vh;}
.contact-wrapper, .main-wrapper {width:99%;}
.contact-wrapper {padding-left:0;flex-flow: column;flex-direction: column-reverse;}
#contact {justify-content:center;}
.half-width{width:100%;}
nav ul li a{font-size:14px;}

#contact-image{margin:0px;}
footer{width:100%; font-size:14px; }
#rika-text p {line-height:28px; width:100%; }
#rika-text {width:100%;}
.grid-container {  grid-template-columns: 0 1fr 1fr 1fr 1fr 1fr 0; justify-items:center;
	grid-auto-rows: 10vh;}
#contact h2 {font-size:18px;}
#contact p, a {font-size:16px;}
#contact{line-height: 20px;}
#contact-image{ width:100%; margin:auto;}
#arrow-grid {grid-template-columns: 1fr 0px 1fr; top: 1vh;}
.flex-wrapper2 {width:100%;}
.flex-image{width:100%;}
.flex-image:hover {cursor:auto;transform:none; }
.imagewrapper {width:45%;
#kakudai {margin-right:0;}
}


@media (max-width:440px){
nav {width:50%;}
nav ul {flex-flow:column; margin:0;}
#article {width:100%}
.flex-image {width:100%;}
#header-bar{height: 72px;}
footer{padding-top: 30px;}
#share-button{margin:0; top: 160px;}





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
