 <div class="slick">
      <div class="slides">
            	<div>
            		<img class="slickimage" src="img/second_half/IMG_7397.jpg"/>
            	</div>
            	<div>
            		<img class="slickimage" src="img/second_half/IMG_1379.jpg"/>
            	</div>
            	<div>
            		<img class="slickimage" src="img/second_half/IMG_3192.jpg"/>
                         <p> </p>
            	</div>
            	<div>
            		<img class="slickimage" src="img/second_half/IMG_3196.jpg"/>
                       <p>羊から毛をもらう</p>
            	</div>
                  <div>
                        <img class="slickimage" src="img/second_half/IMG_3222.jpg"/>
                <p>羊毛をもらった</p>
                  </div>
                  <div>
                <img class="slickimage" src="img/second_half/IMG_0740.jpg"/>
                          <p>毛を洗う ゴミを取る </p>
              </div>
            	<div>
                        <img class="slickimage" src="img/second_half/IMG_0756.jpg"/>
                         <p>洗い上がり</p>
                  </div>
            	<div>
                        <img class="slickimage" src="img/second_half/IMG_1296.jpg"/>
                       <p>草木の葉っぱを集める</p>
                  </div>
            	<div>
            		<img class="slickimage" src="img/second_half/IMG_4857.jpg"/>
                         <p>色染めの準備をする</p>
            	</div>
            	<div>
            		<img class="slickimage" src="img/second_half/IMG_1051.jpg"/>
                        <p>草木で染める</p>
            	</div>
            	       	<div>
            		<img class="slickimage" src="img/second_half/IMG_1302.jpg"/>
                       <p>色染め結果</p>
            	</div>
            	<div>
            		<img class="slickimage" src="img/second_half/IMG_2004.jpg"/>
                        <p>一本一本の繊維がからんで、布のようになる</p>
            	</div>
            	<div>
            		<img class="slickimage" src="img/second_half/IMG_1791.jpg"/>
                        <p>予定の大きさまで、縮めて出来上がり</p>
            	</div>
            </div>
            <div class="pagination"></div>
      </div>

